<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.azzou.coeus.toggle15</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>user_info</key>
		<string>/var/mobile/Library/ZXTouch/scripts/recording/newterm_left.bdl</string>
	</dict>
	<key>libactivator.application-launch.com.apple.AppStore</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>user_info</key>
		<string>/var/mobile/Library/ZXTouch/scripts/custom/VPN.bdl</string>
	</dict>
	<key>libactivator.application-launch.com.brave.ios.browser</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>user_info</key>
		<string>/var/mobile/Library/ZXTouch/scripts/custom/VPN.bdl</string>
	</dict>
	<key>libactivator.application-launch.com.christianselig.Apollo</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>user_info</key>
		<string>/var/mobile/Library/ZXTouch/scripts/custom/VPN.bdl</string>
	</dict>
	<key>libactivator.application-launch.ru.nonamedude.iTorrent</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>user_info</key>
		<string>/var/mobile/Library/ZXTouch/scripts/custom/VPN.bdl</string>
	</dict>
	<key>libactivator.application-launch.ru.nonamedude.iTorrent.P83DGRUF9X</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>user_info</key>
		<string>/var/mobile/Library/ZXTouch/scripts/custom/VPN.bdl</string>
	</dict>
	<key>libactivator.five-finger.pinch</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<key>libactivator.five-finger.spread</key>
	<dict>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>libactivator.five-finger.tap</key>
	<dict>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>libactivator.four-finger.pinch</key>
	<dict>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>libactivator.four-finger.spread</key>
	<dict>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>libactivator.four-finger.tap</key>
	<dict>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>libactivator.gesture-bar.double-tap</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>user_info</key>
		<string>/var/mobile/Library/ZXTouch/scripts/recording/tap_once_immediately.bdl</string>
	</dict>
	<key>libactivator.lock.press.double</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>user_info</key>
		<string>/var/mobile/Library/ZXTouch/scripts/recording/newterm_left.bdl</string>
	</dict>
	<key>libactivator.motion.shake</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>user_info</key>
		<string>/var/mobile/Library/ZXTouch/scripts/recording/malek_1px_test.bdl</string>
	</dict>
	<key>libactivator.power.connected</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>user_info</key>
		<string>/var/mobile/Library/ZXTouch/scripts/recording/scroll_1px_down.bdl</string>
	</dict>
	<key>libactivator.power.disconnected</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>user_info</key>
		<string>/var/mobile/Library/ZXTouch/scripts/recording/scroll_1px_down.bdl</string>
	</dict>
	<key>libactivator.statusbar.tap.double.left</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>user_info</key>
		<string>/var/mobile/Library/ZXTouch/scripts/recording/tap_once_immediately.bdl</string>
	</dict>
	<key>libactivator.three-finger.pinch</key>
	<dict>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>libactivator.three-finger.spread</key>
	<dict>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>libactivator.three-finger.tap</key>
	<dict>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>libactivator.volume.display-tap</key>
	<dict>
		<key>type</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
