<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>individual_configs</key>
	<dict>
		<key>/var/mobile/Library/ZXTouch/scripts/custom/VPN_Coeus.bdl</key>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>repeat_times</key>
			<string>0</string>
			<key>speed</key>
			<string>8</string>
		</dict>
		<key>/var/mobile/Library/ZXTouch/scripts/custom/orientation_toggle.bdl</key>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>repeat_times</key>
			<string>0</string>
			<key>speed</key>
			<string>1.0</string>
		</dict>
		<key>/var/mobile/Library/ZXTouch/scripts/custom/pip.bdl</key>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>repeat_times</key>
			<string>0</string>
			<key>speed</key>
			<string>1.0</string>
		</dict>
		<key>/var/mobile/Library/ZXTouch/scripts/recording/VPN Coeus 2.bdl</key>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>repeat_times</key>
			<string>0</string>
			<key>speed</key>
			<string>10</string>
		</dict>
		<key>/var/mobile/Library/ZXTouch/scripts/recording/VPN Coeus.bdl</key>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>repeat_times</key>
			<string>0</string>
			<key>speed</key>
			<string>10</string>
		</dict>
		<key>/var/mobile/Library/ZXTouch/scripts/recording/XKCD mark read.bdl</key>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>repeat_times</key>
			<string>1230</string>
			<key>speed</key>
			<string>1.0</string>
		</dict>
		<key>/var/mobile/Library/ZXTouch/scripts/recording/malek_1px_test.bdl</key>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>repeat_times</key>
			<string>0</string>
			<key>speed</key>
			<string>1.0</string>
		</dict>
		<key>/var/mobile/Library/ZXTouch/scripts/recording/modify_slide_up_test.bdl</key>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>repeat_times</key>
			<string>0</string>
			<key>speed</key>
			<string>0.01</string>
		</dict>
		<key>/var/mobile/Library/ZXTouch/scripts/recording/newterm_left.bdl</key>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>repeat_times</key>
			<string>26</string>
			<key>speed</key>
			<string>1</string>
		</dict>
		<key>/var/mobile/Library/ZXTouch/scripts/recording/scroll_1px_down.bdl</key>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>repeat_times</key>
			<string>0</string>
			<key>speed</key>
			<string>1.0</string>
		</dict>
		<key>/var/mobile/Library/ZXTouch/scripts/recording/slide up (8,1397) (8, 1314).bdl</key>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>repeat_times</key>
			<string>0</string>
			<key>speed</key>
			<string>5.0</string>
		</dict>
		<key>/var/mobile/Library/ZXTouch/scripts/recording/tap_once_immediately.bdl</key>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>repeat_times</key>
			<string>0</string>
			<key>speed</key>
			<string>1</string>
		</dict>
		<key>/var/mobile/Library/ZXTouch/scripts/recording/tap_twice_after_5sec_wait.bdl</key>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>repeat_times</key>
			<string>0</string>
			<key>speed</key>
			<string>1.0</string>
		</dict>
		<key>/var/mobile/Library/ZXTouch/scripts/recording/terminal back.bdl</key>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>repeat_times</key>
			<string>50</string>
			<key>speed</key>
			<string>1</string>
		</dict>
		<key>/var/mobile/Library/ZXTouch/scripts/recording/terminal_left.bdl</key>
		<dict>
			<key>interval</key>
			<string>0</string>
			<key>repeat_times</key>
			<string>26</string>
			<key>speed</key>
			<string>1.0</string>
		</dict>
	</dict>
</dict>
</plist>
